Content/Data/Highscore/highscore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="scores" type="Score"/>

    <xs:complexType name="Score">
        <xs:sequence>
            <xs:element name="temps" type="xs:float" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>